<div class="row">
  <div class="col-md-12  rounded-0">
    <div class="card rounded-0">
      <div class="card-header text-center bg-dark text-light">
        E-Commerece
      </div>
      <div class="card-body bg-dark text-light">
        <div class="row">
          <div class="col-md-2">
            <ul class="nav flex-column container ">
              <h4 class="ml-3 ">MENUS</h4>
              <li class="nav-item">
                <a class="nav-link text-light " href="#">HOME</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-light" href="#">ABOUTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">PRODUCT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#" tabindex="-1" aria-disabled="true">CARTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#" tabindex="-1" aria-disabled="true">CONTACT US </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="nav flex-column container ">
              <h4 class="ml-3 ">Services</h4>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="nav flex-column container ">
              <h4 class="ml-3 ">Policy</h4>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Privacy </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Center</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light text-uppercase" href="#">Shops</a>
              </li>
            </ul>
          </div>
          <div class="col-md-5 ">
            <h1 class="text-uppercase font-weight-bold  text-sm-center">Subscribe US NewsLetter</h1>
            <div class="form-group pt-3">
              <input type="text" class="form-control rounded-0" placeholder="Enter Your Email" name="" value="">
            </div>
            <button type="button" class="btn btn-block rounded-0 btn-primary" name="button">Submit</button>
          </div>
        </div>
        <div class="col-md-12 text-center mt-3">
          <h3>Design By  Our NewsLetter copyright 2020</h3>
        </div>

      </div>
    </div>
  </div>
</div>
