<div class="contaner">
  <div class="row">
    <div class="col-lg-8 m-auto">
      <form class="" method="post">
        <!-- <div class="row">

          <div class="col-md-3">

            <h3>Select files</h3>

            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
              Base drop zone
            </div>
            Single
            <input type="file" name="banner" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
          </div>

          <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div> -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Response</div>
              <div class="panel-body">
                {{ response }}
              </div>
            </div>
          </div>
        </div>



        <div class="">
          <div class="form-group">
            <label for="">ProductName</label>
            <input type="text" [(ngModel)]="newAttribute.productName" name="newAttribute.productName"    class="form-control">
          </div>
          <div class="form-group">
            <label for="">MRP</label>
            <input type="text" [(ngModel)]="newAttribute.mrp" name="newAttribute.mrp" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Price</label>
            <input type="text" [(ngModel)]="newAttribute.price" name="newAttribute.price" value="" class="form-control">
          </div>
          <!-- <div class="form-group">
            <label for="">color</label>
            <input type="text" [(ngModel)]="newAttribute.red" name="newAttribute.red" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Brand</label>
            <input type="text" [(ngModel)]="newAttribute.brand" name="newAttribute.brand" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Item Dimension</label>
            <input type="text" [(ngModel)]="newAttribute.itemDimension" name="newAttribute.itemDimension" value="" class="form-control">
          </div>

          <div class="form-group">
            <label for="">Item Weight</label>
          </div>
          <input type="text" [(ngModel)]="newAttribute.itemWeight" name="newAttribute.itemWeight" value="" class="form-control">
          <div class="form-group">
            <label for="">Voltage</label>
            <input type="text" [(ngModel)]="newAttribute.voltage" name="newAttribute.voltage" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Capacity</label>
            <input type="text" [(ngModel)]="newAttribute.capacity" name="newAttribute.capacity" value="" class="form-control">
          </div> -->

          <button type="button" (click)="addFiledValue()" name="button" class="btn btn-success">+</button>
        </div>
        <div class="" *ngFor="let field of fieldArray; let i=index">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="">label</label>
              <input type="text" [(ngModel)]="field.label" name="field.label" value="" class="form-control">
            </div>
            <div class="col-md-6">
              <input type="file" name="" value="" (change)="upload($event)">
              <button type="submit" name="button">subtmit</button>
            </div>
            <div class="form-group col-md-6">
              <label for="">item</label>
              <input type="text" [(ngModel)]="field.item" name="field.item" value="" class="form-control">
            </div>
          </div>
          <button type="button" (click)="deleteFieldValue(i)" class="btn btn-danger" name="button">X</button>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Submit</button>


      </form>
    </div>
  </div>
</div>
